<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Трекер задач</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <h1>Трекер задач</h1>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('index') }}">Главная</a>
            <a href="{{ url_for('create_update_task') }}">Создать задачу</a>
            <a href="{{ url_for('logout') }}">Выход</a>
        {% else %}
            <a href="{{ url_for('login') }}">Вход</a>
            <a href="{{ url_for('register') }}">Регистрация</a>
        {% endif %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
