{% extends 'base.html' %}
{% block content %}
    <h2>Список задач</h2>
    <table>
        <tr>
            <th>Заголовок</th>
            <th>Дата создания</th>
            <th>Статус</th>
            <th>id</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.date_created }}</td>
            <td>{{ task.status }}</td>
            <td>test</td>                        
        </tr>
        {% endfor %}
    </table>
{% endblock %}
