body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f4f4f4;
}

.user-form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label,
.form-checkbox-label {
  display: block;
  margin-bottom: 8px;
}

.form-input,
.form-select,
.form-textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.form-submit {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.form-submit:hover {
  background-color: #0056b3;
}

.gender-options {
  margin-bottom: 20px;
}

.form-checkbox {
  margin-right: 5px;
}

.form-textarea {
  height: 100px;
}
