.container {
    display: flex;
    justify-content: space-around;
}

.left-side, .right-side {
    width: 45%;
}

/* Стили для левой стороны */
.left-side .styled-list, .left-side .dropdown-content {
    background-color: #f0f0f0;
}

.left-side .styled-button, .left-side .dropbtn {
    background-color: #4CAF50;
    color: white;
}

.left-side .dropdown-content a:hover {
    background-color: #ddd;
}

/* Стили для правой стороны */
.right-side .styled-list, .right-side .dropdown-content {
    background-color: #fff;
}

.right-side .styled-button, .right-side .dropbtn {
    background-color: #008CBA;
    color: white;
}

.right-side .dropdown-content a:hover {
    background-color: #ccefff;
}

/* Общие стили для списков */
.styled-list {
    list-style-type: none;
    padding: 0;
}

.styled-list li {
    margin: 5px 0;
    padding: 5px;
}

/* Общие стили для кнопок */
.styled-button, .dropbtn {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
}

/* Общие стили для выпадающих меню */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
