[submodule "js/exam/js/exam/weather-forecast"]
	path = js/exam/js/exam/weather-forecast
	url = https://github.com/KyryloMuzychka/weather-forecast
[submodule "python/homework/hw5/barley-break"]
	path = python/homework/hw5/barley-break
	url = https://github.com/KyryloMuzychka/barley-break
[submodule "react/Todo-List"]
	path = react/Todo-List
	url = https://github.com/KyryloMuzychka/Todo-List.git
