/* Контейнер для левой стороны */
.container {
    display: flex;
}
.left-side {
    width: 50%;
    padding: 20px;
    background-color: #ffffff; /* Белый фон */
}

/* Стили для списка */
.styled-list {
    list-style-type: none; /* Убираем стандартные маркеры */
    padding: 0;
}

.styled-list li {
    margin-bottom: 10px; /* Отступы между элементами списка */
    padding: 5px; /* Внутренние отступы элементов списка */
    border-left: 4px solid #ff4500; /* Яркая акцентная линия слева */
    background-color: #fffbea; /* Светло-желтый фон для элементов списка */
}

/* Стили для кнопки */
.styled-button {
    padding: 10px 20px;
    background-color: #ff4500; /* Яркий оранжевый цвет фона */
    color: white; /* Белый цвет текста */
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px; /* Отступ сверху */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.styled-button:hover {
    background-color: #cc3700; /* Темно-оранжевый цвет фона при наведении */
}

/* Стили для выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px; /* Отступ сверху */
}

.dropdown .dropbtn {
    padding: 8px 16px;
    background-color: #007bff; /* Синий цвет фона */
    color: white; /* Белый цвет текста */
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1; /* Светло-серый фон */
    min-width: 160px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2); /* Тень выпадающего меню */
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block; /* Показывать выпадающее меню при наведении */
}
