body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-input {
    width: 100%;
    max-width: 500px;
    min-width: 500px;
    min-height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    overflow-y: hidden;
}

.add-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.add-button:hover {
    background-color: #0056b3;
}

/* Task List */
.tasks {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.task:last-child {
    border-bottom: none;
}

.task-date {
    font-size: 12px;
    color: #777;
}

.task-text {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
}

.task {
    display: flex;
    justify-content: space-between;
}

.delete-task-btn {
    color: #fff;
    background-color: rgb(167, 24, 24);
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.edit-task-btn, .save-task-btn {
    color: #fff;
    background-color: rgb(210, 161, 0);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.save-task-btn {
    display: none;
}

.delete-task-btn:hover,
.edit-task-btn:hover {
    cursor: pointer;
}

.new-text-input {    
    padding: 10px 5px;
    width: 300px;
    margin-top: 10px;
}