#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  margin-bottom: 30px;  
}

nav > button {
  margin-right: 10px;
}

nav > button:last-child {
  margin-right: 0;
}