.container {
    display: flex; /* Применяем flexbox для выравнивания блоков */
    flex-direction: column; /* Располагаем блоки вертикально */
    align-items: center; /* Центрируем блоки по горизонтали */
    padding: 20px; /* Внутренний отступ для внешнего контейнера */
    border: 2px solid #008B8B; /* Изменение стиля рамки контейнера */
    background-color: #f0f8ff; /* Изменение фона контейнера */
}

.box {
    width: 80%; /* Задаем ширину для каждого блока */
    padding: 20px; /* Изменение внутреннего отступа блоков */
    margin-bottom: 15px; /* Добавляем вертикальные отступы между блоками */
    border: 1px solid #708090; /* Рамка для каждого блока */
    background-color: #f5f5f5; /* Фон для каждого блока */
    text-align: left; /* Текст в блоках выравнивается по левому краю */
    border-radius: 10px; /* Скругление углов блоков */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Изменение стиля тени блоков */
}

.box p {
    color: #2F4F4F; /* Изменение цвета текста в параграфах */
    font-weight: bold; /* Текст в параграфах жирным */
}
