.container {
    padding: 20px; /* Внутрішній відступ для зовнішнього контейнера */
    border: 1px solid #ddd; /* Рамка для зовнішнього контейнера */
    background-color: #f8f8f8; /* Фон для зовнішнього контейнера */
}

.box {
    padding: 10px; /* Внутрішній відступ для кожного внутрішнього блоку */
    margin-bottom: 10px; /* Відступ знизу для кожного внутрішнього блоку */
    border: 1px solid #ccc; /* Рамка для кожного внутрішнього блоку */
    background-color: white; /* Фон для кожного внутрішнього блоку */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь для кожного внутрішнього блоку */
}

.box p {
    margin: 0; /* Скидає зовнішні відступи для параграфів у блоках */
    color: #333; /* Колір тексту в параграфах */
}
