/* GENERAL STYLES */
body {
	font-family: Arial, San-Serif; /* Встановлює основний шрифт для документа */
	font-size: 100%; /* Встановлює стандартний розмір шрифту */
}
ul {
	margin: 0; /* Видаляє зовнішні відступи для всіх списків */
	padding: 0; /* Видаляє внутрішні відступи для всіх списків */
}
ul li {
	list-style-type: none; /* Видаляє маркери для пунктів списку */
}
a {
	text-decoration: none; /* Видаляє підкреслення для всіх посилань */
}
p {
	font-size: 13px; /* Встановлює розмір шрифту для абзаців */
	line-height: 1.3em; /* Встановлює міжрядковий інтервал для абзаців */
}
.container {
	margin: 0 auto; /* Центрує контейнер у вікні перегляду */
	width: 960px; /* Встановлює ширину контейнера */
}

/* HEADER */
.header {
	padding: 50px 0; /* Встановлює внутрішні відступи для заголовка */
	background-color: yellowgreen; /* Встановлює колір фону для заголовка */
}
.header h1,
.header h2 {
	color: greenyellow; /* Встановлює колір тексту для заголовків h1 і h2 */
	text-align: center; /* Вирівнює текст заголовків по центру */
}

/* NAVIGATION */
.page-navigation {
	background-color: #222; /* Встановлює колір фону для панелі навігації */
	border-color: #101010; /* Встановлює колір рамки для панелі навігації */
	min-height: 64px; /* Встановлює мінімальну висоту для панелі навігації */
}
.page-navigation li {
	float: left; /* Розташовує пункти навігації в ряд горизонтально */
	width: 100px; /* Встановлює ширину для кожного пункту навігації */
}
.page-navigation a {
	display: block; /* Робить посилання блочними елементами */
	color: #9d9d9d; /* Встановлює колір тексту для посилань */
	line-height: 4em; /* Встановлює висоту лінії для посилань */
	font-weight: bold; /* Робить текст посилань жирним */
	text-align: center; /* Вирівнює текст посилань по центру */
}
.page-navigation li a:hover {
	color: yellowgreen; /* Змінює колір тексту посилань при наведенні курсору */
	background-color: black; /* Змінює колір фону посилань при наведенні курсору */
}

/* LOGIN FORM */
.login {
	padding: 15px 0; /* Встановлює вертикальні внутрішні відступи для форми входу */
	float: right; /* Розташовує форму входу з правого боку контейнера */
}

.login input[type="text"],
.login input[type="password"] {
	padding: 5px; /* Встановлює внутрішні відступи для полів вводу тексту та пароля */
	margin-right: 5px; /* Встановлює правий зовнішній відступ для полів вводу тексту та пароля */
	border: 1px solid transparent; /* Встановлює прозору рамку для полів, щоб підтримати однакові розміри з іншими елементами при фокусі */
	border-radius: 5px; /* Заокруглює кути рамок полів вводу */
	outline: none; /* Видаляє контур, який з'являється при фокусі на полях вводу */
}

.login input[type="submit"] {
	padding: 5px 15px; /* Встановлює внутрішні відступи для кнопки відправлення */
	border: 1px solid lightgrey; /* Встановлює рамку світло-сірого кольору для кнопки відправлення */
	border-radius: 5px; /* Заокруглює кути рамки кнопки відправлення */
}

.login input[type="submit"]:hover,
button:hover {
	background-color: darkgrey; /* Змінює колір фону кнопки на темно-сірий при наведенні курсору */
	color: white; /* Змінює колір тексту кнопки на білий при наведенні курсору */
}

/* MAIN PART */
.collections {
	overflow: auto; /* Додає автоматичні смуги прокрутки, якщо контент перевищує розміри контейнера */
}

.collection-title {
	padding-bottom: 5px; /* Встановлює нижній внутрішній відступ для заголовка колекції */
	border-bottom: 1px solid #777; /* Додає нижню межу до заголовка колекції */
	font-size: 36px; /* Великий розмір шрифту для заголовка колекції */
}

.collection-title small {
	color: #777; /* Встановлює колір тексту для елементів <small> у заголовку на середній сірий */
	font-size: 70%; /* Зменшує розмір шрифту для елементів <small> до 70% від батьківського */
}

.collection-item-outer {
	display: inline-block; /* Елементи відображаються як інлайнові блоки, що дозволяє їм бути у рядку */
	float: left; /* Вирівнює елементи колекції до лівої сторони */
	padding-left: 5px; /* Встановлює лівий внутрішній відступ для елементів колекції */
	padding-right: 5px; /* Встановлює правий внутрішній відступ для елементів колекції */
	width: 33.33%; /* Задає ширину елементів колекції, щоб три елемента помістилися у рядок */
	box-sizing: border-box; /* Включає внутрішні відступи та рамки у загальну ширину елемента */
}

.collections > div:first-child {
	padding-left: 0; /* Видаляє лівий внутрішній відступ для першого елемента у колекції */
	padding-right: 10px; /* Збільшує правий внутрішній відступ для першого елемента у колекції */
}

.collections > div:last-child {
	padding-right: 0; /* Видаляє правий внутрішній відступ для останнього елемента у колекції */
	padding-left: 10px; /* Збільшує лівий внутрішній відступ для останнього елемента у колекції */
}

.collection-item {
	border: 1px solid #959595; /* Додає однопіксельну суцільну рамку сірого кольору до кожного елемента колекції */
}

.collection-item img,
.collection-item video {
	width: 100%; /* Задає зображенням та відео всередині елементів колекції ширину, яка розтягується на 100% їх батьківського елемента */
}

.collection-text {
	padding: 0 20px 20px 20px; /* Додає внутрішні відступи з усіх боків, крім верхнього, для текстового контенту всередині елементів колекції */
}

.collection-text h3 {
	color: yellowgreen; /* Задає заголовкам h3 всередині елементів колекції колір жовто-зелений */
	overflow: hidden; /* Видаляє будь-який контент, що виходить за межі елемента */
	white-space: nowrap; /* Запобігає перенесенню тексту на новий рядок */
	text-overflow: ellipsis; /* Додає три крапки на кінці тексту, якщо він не вміщується в один рядок */
}

.collection-text p {
	height: 80px; /* Встановлює висоту параграфів всередині елементів колекції на 80 пікселів */
	overflow: hidden; /* Видаляє будь-який контент, що виходить за межі встановленої висоти */
}

.collection-text button {
	padding: 10px; /* Додає внутрішній відступ до кнопок всередині елементів колекції */
	border: 1px solid transparent; /* Задає кнопкам прозору рамку, щоб підтримати однакові розміри з іншими елементами */
	border-radius: 5px; /* Заокруглює кути кнопок */
	outline: none; /* Видаляє контур, що з'являється навколо кнопки при її активізації */
}

/* FOOTER */
.footer {
	background-color: yellowgreen; /* Встановлює колір фону футера на жовто-зелений */
	color: white; /* Встановлює колір тексту у футері на білий */
	padding: 20px 0; /* Додає вертикальні внутрішні відступи (зверху та знизу) розміром 20 пікселів, але не додає горизонтальних відступів */
	margin-top: 30px; /* Додає зовнішній відступ зверху футера розміром 30 пікселів, відділяючи його від інших елементів сторінки */
}
