<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div>            
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" required>
        </div>
        <div>
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" required><br>
        </div>        
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required><br>
        </div>
        <div>
            <label for="phone">Phone</label>
            <input type="phone" id="phone" name="phone" required><br>
        </div>        
        <div>
            <label for="address">Address</label>
            <input type="text" id="address" name="address" required><br>
        </div>        
        <div>
            <label for="months">Months</label>
            <select name="months" id="months">
                <option value="1">1</option>
                <option value="3">3</option>
                <option value="16">6</option>
                <option value="12">12</option>                
            </select>
        </div>
        <div>
            <label for="volume">Volume</label>
            <select name="volume" id="volume">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
        </div>
        <input type="submit" value="Submit">
    </form>
        
    {% if data %}
        {% for key, value in data.items() %}
            <h2>{{ value }}</h2>        
        {% endfor %}
    {% endif %}
</body>
</html>