* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(238, 238, 238);
}

.container {  
  width: 90%;
  margin: auto;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  background-color: aliceblue;
  padding: 40px;
  border-radius: 20px;  
}

.text_block,
.list_block,
.image_block {
  width: 400px;
  padding: 30px;
  border-radius: 20px;  
  margin-right: 20px;
}

.btn_read_book {
  background-color: rgb(211, 159, 90);
  margin: 20px 0 0 0;
  padding: 10px;
  float: right;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.list_block ul {
  list-style: none;  
  margin-top: 15px;
}

.list_block > ul > li {
  margin-top: 10px;
  border-left: 4px rgb(139, 110, 167) solid;
  border-radius: 2px;
  background-color:rgb(255, 89, 29);
  color: aliceblue;
  padding: 5px 10px;
  transition: 1s;
  width: 300px;
}

.list_block > ul > li:hover {
  font-size: 18px;
  width: 350px;  
}

.image_block {
  margin: 0;
}

.text_block {
  border: 2px salmon solid;  
}

.list_block {
  border: 2px skyblue solid;
}

.image_block {
  border: 2px blueviolet dashed;
  display: flex;
}

.image_block_content {
  align-self: center;
}

.text_block h2 {
  margin-left: 20px;
}

.text_block p {
  text-align: justify;
  text-indent: 20px;
  margin-top: 15px;
}

.image_block p {  
  text-align: center;
  margin-top: 10px;
  font-style: italic;
}

.image_hanks {  
  width: 100%;  
}