header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.block:nth-child(1) {
    flex-direction: row;
}

h3 { 
    margin: 0;
}