/* Общие стили страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Стилизация шапки */
header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    text-align: left;
}

header h1 {
    margin: 0;
}

/* Стилизация выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: -38px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Стилизация основного содержания */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #eee;
}

.content {
    flex-basis: calc(50% - 40px);
    margin: 10px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.collection-item-outer {
	display: inline-block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	width: 33.33%;
	box-sizing: border-box;
}
.collection-item {
	border: 1px solid #959595;
}
.collection-item img {
	width: 100%;
}

/* Стилизация футера */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
